<h2>★★★★★ログイン画面★★★★★</h2>
<%= render partial: 'layouts/flash' %>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email, 'メールアドレス'%>
  <%= f.email_field :email %>
  <%= f.label :password, 'パスワード' %>
  <%= f.password_field :password %>
  <%= f.submit "ログイン" %>
<% end %>
<%= link_to "ユーザ登録はこちら", new_user_path %>