= render partial: 'layouts/flash'
.container
  .row
    .col-md-6.offset-md-3
      .text-center.my-4
        %i.fas.fa-user-circle.fa-4x.mb-3
        %h1.h3.mb-1.font-weight-normal Login
        %p Information is a WeaponPON!!!!!
      = form_for(:session, url: login_path) do |f|
        .form-group
          = f.email_field :email, class: 'form-control', placeholder:'Email Address'
        .form-group
          = f.password_field :password, class: 'form-control', placeholder:'Password'
        .form-group
          = f.submit "LOGIN", :class => 'btn btn-lg btn-dark btn-block'
