<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fas fa-user-cog fa-2x mr-3 text-primary"></i>
            <%= @person.last_name %><%= @person.first_name %>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <% if @person.person_details.any? %>
            <div class="row">
              <% @person.person_details.each do |detail| %>
                <div class="col-lg-4 col-md-12 mb-3">
                  <div class="card border-primary h-100">
                    <div class="clearfix">
                      <%= link_to "×",
                          person_person_detail_path(@person, detail),
                          method: :delete,
                          data: {confirm: '削除しますか？'},
                          class: 'close float-right mt-2 mr-3'
                      %>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title"><%= detail.category %></h5>
                      <p class="card-text"><%= simple_format detail.content %></p>
                    </div>
                  </div>
                </div>
                
              <% end %>
            </div>
            <hr>
          <% end %>

          <%= form_for([@person, @person.person_details.build]) do |f| %>
            <div class="form-group">
              <%= f.label :category, "カテゴリ" %>
              <%= f.text_field :category, class: 'form-control' %>

            </div>

            <div class="form-group">
              <%= f.label :content, "内容" %>
              <%= f.text_area :content, rows: 4, class: 'form-control' %>
            </div>

            <div class="modal-footer actions">
              <%= f.submit "作成", class: "btn btn-outline-primary w-75 m-auto"%>
            </div>
          <% end %>
        </div>


  </div>
</div>