<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">
        <i class="fas fa-user-cog fa-2x mr-3 text-warning"></i>
        <%= @person.last_name %><%= @person.first_name %>
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <%= form_for @person, remote: true, url: person_path(@person) do |f| %>
      <%= render partial: 'layouts/flash' %>

      <div class="modal-body">

        <div class="form-group field">
            <%= f.label :last_name, "氏" , class: "form-control-label"%>
            <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        
        <div class="form-group field">
            <%= f.label :first_name, "名" , class: "form-control-label"%>
            <%= f.text_field :first_name, class: 'form-control' %>
        </div>
      
      </div>

      <div class="modal-footer actions">
        <%= f.submit "更新", class: "btn btn-outline-warning w-75 m-auto"%>
      </div>

    <% end %>
  </div>
</div>