.modal-dialog.modal-xl{:role => "document"}
  .modal-content
    .modal-header
      %h5#exampleModalLabel.modal-title
        %i.fas.fa-user-cog.fa-2x.mr-3.text-success
        新規登録
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
    = render partial: 'layouts/flash'
    = form_for @person, remote: true do |f|
      .modal-body
        .form-group.field
          = f.label :last_name, "氏" , class: "form-control-label"
          = f.text_field :last_name, class: 'form-control'
      .modal-body
        .form-group.field
          = f.label :first_name, "名" , class: "form-control-label"
          = f.text_field :first_name, class: 'form-control'
      .modal-footer.actions
        = f.submit "作成", class: "btn btn-outline-success w-75 m-auto"
