#search
  = render partial: 'layouts/flash'
  .container
    .text-center.py-5
      %h4.common-page-title
        ★★★Seach★★★
    .form-group
      = search_form_for @q, url: person_search_path do |f|
        = f.text_field :keywords,
          required: false,
          value: params.dig(:q, :keywords),
          placeholder: 'Keyword',
          class: 'form-control'
    - if @people.present?
      %table.table.table-hover
        %thead.thead-dark
          %tr
            %th{:scope => "col"} #
            %th{:scope => "col"} LastName
            %th{:scope => "col"} FirstName
            %th{:scope => "col"} Buttons
        %tbody
          - @people.each.with_index(1) do |p, i|
            %tr
              %td{:scope => "row"}= i
              %td= p.last_name
              %td= p.first_name
              %td.p-2
                .container
                  .row
                    = link_to "Show",
                      person_path(p),
                      remote: true,
                      id:"show-#{p.id}",
                      class: 'btn btn-outline-dark btn-sm col-md-3 ' 
                    = link_to "Edit", edit_person_path(p),
                      remote: true,
                      class: 'btn btn-outline-dark btn-sm col-md-3 offset-md-1 my-2 my-md-0'
                    = link_to "Delete",
                      person_path(p),
                      method: :delete,
                      data: {confirm: '削除しますか？'},
                      class: 'btn btn-outline-dark btn-sm col-md-3 offset-md-1'
      - #編集画面モーダル
      #person-edit-modal.modal.fade
        {"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      - #参照画面モーダル
      #person-show-modal.modal.fade
        {"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    - # 詳細情報登録、削除時のモーダル発火
    - if @modal_params.present?
      - @modal_params.each do |key, value|
        :javascript
          $('a##{key}-#{value}')[0].click();
      - @modal_params = nil
    - # 登録ボタン（＋）
    = link_to "", new_person_path, remote: true, class: 'btn btn-outline-dark new-fixed-btn'
  / #container
