= render partial: 'layouts/flash'
.container
  .row
    .col-md-6.offset-md-3
      .text-center.py-5
        %h4.common-page-title
          ★★★UserEdit★★★
      = form_for @user, url: user_path(@user) do |f|
        .form-group
          = f.password_field :password, |
            class: 'form-control',      |
            placeholder:'Password'      |
        .form-group
          = f.password_field :password_confirmation, |
            class: 'form-control',                   |
            placeholder:'Password Confirmation'      |
        .form-group
          = f.submit "Update",
            class:'btn btn-primary btn-lg btn-block'
      .form-group
        = link_to "User Delete",                              |
          user_path(@user),                                   |
          method: :delete,                                    |
          data: {confirm: '削除しますか？'},                         |
          class:'btn btn-outline-danger btn-lg btn-block' |
