<div id="users">
  <div id="new">
    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-background-blend-lighten bk-img-color" data-src="<%= asset_path('user_create.jpg') %>" uk-img uk-height-viewport>
      <div class="uk-overlay uk-overlay-primary uk-position-center bugs-padding">
        <div class="uk-text-center">
          <i class="fas fa-id-card fa-4x mb-3"></i>
          <h2>UserCreate</h2>
          <p>Information is a WeaponPON!!!</p>

          <%= render partial: 'layouts/flash' %>
          <%= form_for(@user) do |f| %>
            <div class="uk-margin">
              <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <%= f.email_field :email, class: 'uk-input', placeholder:'Email Address' %>
              </div>
            </div>

            <div class="uk-margin">
              <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <%= f.password_field :password, class: 'uk-input', placeholder:'Password' %>
              </div>
            </div>

            <div class="uk-margin">
              <%= f.submit "Register", class: 'uk-button uk-button-default' %>
            </div>
          <% end %>
        </div>
        
      </div>
        
    </div>
  </div>
  
</div>