<%= render partial: 'layouts/flash' %>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center py-5">
          <h4 class="common-page-title">
          ★★★UserCreate★★★
          </h3>
        </div>

      <%= form_for(@user) do |f| %>
        <div class="form-group">
          <%= f.text_field :email,
              class: 'form-control',
              placeholder:'Email Address'
          %>
        </div>

        <div class="form-group">
          <%= f.password_field :password,
              class: 'form-control',
              placeholder:'Password'
          %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation,
              class: 'form-control',
              placeholder:'Password Confirmation'
          %>
        </div>
        <%= f.submit 'Register', :class => 'btn btn-primary btn-lg btn-block' %>
      <% end %>
    </div>
  </div>
</div>